<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header_sec}"></head>

<body>
<div class="screen-overlay"></div>
<div th:replace="~{fragments::side_bar}"></div>

<main class="main-wrap">

    <div th:replace="~{fragments::nav_bar}"></div>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>
                        <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                         <button class="btn btn-md rounded font-sm hover-up">Publich</button> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Product Details</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/saveCategoryOffer}" id="productAdd" th:object="${offer}"   method="post">
                            <div class="mb-4">
                                <label  class="form-label">Choose Category</label>
                                <select th:field="*{category}" id="categorySelect" name="product" class="form-select">
                                    <option th:value="null"> select</option>
                                    <option th:each="category :${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                                <div id="error" class="d-none alert-danger">Please choose a Category</div>
                            </div>

                            </select>
                            <div class="mb-4">
                                <label  class="form-label">Offer Name</label>
                                <input type="text" th:field="*{name}"  name="offerName"   class="form-control" />
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}"
                                ></div>
                            </div>
                            <div class="mb-4">
                                <label  class="form-label">Offer Description</label>
                                <input type="text" th:field="*{description}"  name="description"   class="form-control"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}"
                                     th:errors="*{description}"
                                ></div>
                            </div>
                            <div class="mb-4">
                                <label  class="form-label">Offer Percentage</label>
                                <input type="text" th:field="*{discount}"  name="offerPercentage"   class="form-control"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('discount')}"
                                     th:errors="*{discount}"
                                ></div>
                            </div>
                            <div class="mb-4">
                                <label  class="form-label">Offer Type</label>
                                <input type="texr" th:field="*{offerType}" value="Category Offer" name="offerType"   class="form-control"  readonly  />
                            </div>
                            <button class="btn btn-primary" type="submit">Save</button>

                        </form>
                    </div>
                </div> <!-- card end// -->
            </div>
        </div>
    </section> <!-- content-main end// -->
    <div th:replace="~{fragments::footer_sec}"></div>

</main>

<div th:replace="~{fragments::script}"></div>

<script>
    function validateForm() {
        var productSelect = document.getElementById("categorySelect");
        var errorDiv = document.getElementById("error");

        if (productSelect.value === "") {
            errorDiv.classList.remove("d-none");
            return false;
        } else {
            errorDiv.classList.add("d-none");
            return true;
        }
    }

    // Add an event listener to the form submission event
    document.getElementById("productAdd").addEventListener("submit", function(event) {
        if (!validateForm()) {
            event.preventDefault();
        }
    });
</script>

</body>

</html>